<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Jimit\News\Api\NewslistInterface" type="Jimit\News\Model\NewslistManagement"/>
    <preference for="Jimit\News\Api\DataRepositoryInterface" type="Jimit\News\Model\DataRepository" />
    <preference for="Jimit\News\Api\Data\DataInterface" type="Jimit\News\Model\Data" />
    <virtualType name="NewsDataGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Jimit\News\Model\Resource\Data\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">NewsDataGridFilterPool</argument>
        </arguments>
    </virtualType>
	<!-- Image Uploader -->
	<virtualType name="VirtualTypeName" type="Magento\Catalog\Model\ImageUploader">
	   <arguments>
		  <argument name="baseTmpPath" xsi:type="string">logo/image</argument>
		  <argument name="basePath" xsi:type="string">logo/image</argument>
		  <argument name="allowedExtensions" xsi:type="array">
			 <item name="jpg" xsi:type="string">jpg</item>
			 <item name="jpeg" xsi:type="string">jpeg</item>
			 <item name="gif" xsi:type="string">gif</item>
			 <item name="png" xsi:type="string">png</item>
		  </argument>
	   </arguments>
	</virtualType>
	<type name="Jimit\News\Controller\Adminhtml\Index\Uploader">
	   <arguments>
		  <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
	   </arguments>
	</type>
	<!-- End Image Uploader -->
    <virtualType name="Jimit\News\Model\ResourceModel\Data\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">jimit_news_data</argument>
            <argument name="resourceModel" xsi:type="string">Jimit\News\Model\ResourceModel\Data</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="news_data_grid_data_source" xsi:type="string">Jimit\News\Model\ResourceModel\Data\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
